/* Contact Page CSS */

/* Contact section */

/* =========================================
   CONTACT SECTION
========================================= */
body.contact-page {
    background-color: var(--color-pure-white);
}

.site-header.contact-page-header {
    background: var(--color-pure-white);
}

.iq-contact-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-image: url("../images/Contact-section-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 180px;
}

/* =========================================
   MAIN WRAPPER
========================================= */

.iq-contact-wrapper {
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.iq-contact-section .contact-form-wrapper {
    position: sticky;
    top:0;
    max-width: 511px;
    margin-left: auto;
}

.iq-contact-section .contact-form-wrapper .contact-form {
    background-color: #3F455170;
}

/* =========================================
   HEADING
========================================= */

.iq-contact-section .sub-details {
    display: flex;
    flex-direction: column;
    gap:16px;
}

.contact-heading {
    color:var(--color-pure-white);
}

.contact-heading span {
    color:var(--color-electric-blue);
    font-weight: 700 !important;
    font-family: "neulis-neue" !important;
}


/* =========================================
   DESCRIPTION
========================================= */

.contact-description {
    display: flex;
    align-items: center;
    color: var(--color-warm-gray);
}


/* =========================================
   CONTACT DETAILS
========================================= */

.contact-detail {
    display: flex;
    align-items: flex-start;
    margin-top: 64px;
    gap: 24px;
}


/* =========================================
   ICON
========================================= */

.contact-detail .detail-icon {
    width: 40px;
    min-width: 40px;
    display: flex;
    justify-content: flex-start;
    padding-top: 1px;
    color: #087dff;
    font-size: 22px;
}


/* =========================================
   DETAIL CONTENT
========================================= */

.contact-detail.detail-content {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.contact-detail .detail-content h3 {
    margin: 0 0 16px;
    color: var(--color-primary-orange);
}

.contact-detail .detail-content p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.214;
    color: var(--color-pure-white)
}

.contact-detail  p  a {
    color: var(--color-pure-white) !important;
    text-decoration: none;
    transition: color 0.25s ease;
}

.contact-detail  p a:hover {
    color: var(--color-primary-orange) !important;
}

.contact-detail .email-detail-wrap {
    display: flex;
    flex-direction: column;
    gap: 14px;
}


/* IQ Contact Content Section */
.iq-contact-content-section {
    position: relative;
}

.iq-contact-content-section .sub-head-2 {
    min-height: 84px;
    align-content: center;
}

.iq-contact-solution {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.iq-contact-content-right {
    max-width: 649px;
}

.contact-solutions-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}

.contact-solutions-grid .solution-card .solution-card-content{
    padding: 16px;
}

.solution-card .solution-card-header {
    margin-bottom: 16px;
}

.contact-solutions-grid .solution-card .solution-title h3 {
    font-size: 28px;
    font-weight: 900;
    line-height: 1.429;
}

.contact-solutions-grid .solution-card .solution-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7145;
    color: #222222;
}

.contact-solutions-grid .solution-card .solution-tags {
    max-width: 500px;
}

.contact-solutions-grid .solution-card .solution-tags span {
    font-weight: 400;
}


/* IQ Contact Diffrence */
.iq-contact-diffrence {
    margin-top: 110px;
}

.iq-contact-diffrence .sub-head-2 {
    margin-bottom: 40px;
}

/* Count Box Widget */
.count-box-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.count-box {
    padding: 40px 28px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.count-box .count-value {
    font-size: 100px;
    line-height: 1;
    font-weight: 700;
    font-family: "neulis-neue", sans-serif;
    color: var(--color-electric-blue);
    margin-bottom: 28px;
}

.count-box .count-divider {
    width: 100%;
    height: 1px;
    background-color: var(--color-electric-blue);
}
.count-box .count-text {
    padding-top: 12px;
    max-width: 190px;
    font-weight: 500;
    color: var(--color-elevate-gray);
}

/* IQ Contact Growth */
.iq-contact-growth {
    margin-top: 87px;
}

.iq-contact-growth .sub-head-2{
    margin-bottom: 40px;
    max-width: 600px;
}

.iq-contact-growth .trust-card-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.trust-card-grid .trust-card {
    padding: 12px 16px 20px;
}

.trust-card-grid  .trust-card {
    grid-column: auto;
    gap: 0;
}

.trust-card-grid .trust-card .trust-card-title{
    padding: 0;
    border: 0;
    background: transparent;
    margin-bottom: 9px;
    font-size: 14px;
    height: auto;
}

.trust-card-grid .trust-card p {
    color: var(--color-slate-grey);
}

.trust-card-grid .trust-card-credit > strong ,
.trust-card-grid .trust-card-banking > strong {
    font-size: 64px;
    line-height: 1.125;
}

.trust-card-grid .trust-card-credit > strong {
    font-size: 64px;
    line-height: 1.125;
}

.trust-card-grid .trust-card > strong {       
    margin-bottom: 22px;
    display: block;
}


/* IQ Testimonial Slider  */
.iq-testimonial {
    margin-top: 190px;
}

.contact-blurb-top-right {
    top: -21%;
    right: 0%;
}

.contact-blurb-bottom-right {
    bottom: -15%;
    right: -5%;
}

.contact-blurb-center-right {
    right: -2%;
    top: 8%;
}

.contact-blurb-center-left {
    top: 22%;
    left: 0;
}

.contact-blurb-center-bottom {
    top: 45%;
    right: 0;
}

/* Testimonial Slider Widget */
.testimonial {
    padding: 46px 32px 24px;
    background-image: url('../images/testimonial-card-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    border: 1px solid #E0E0E0;
    border-radius: 24px;
    overflow: hidden;
}

.testimonial::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #00000020;
    z-index: -1;
} 

.testimonial .testimonial-card {
    margin-bottom: 46px;
}

.testimonial-card .testimonial-quote-icon {
    width: 66px;
    height: 56px;
    margin-bottom: 18px;
}

.testimonial-card .testimonial-quote-text {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.429;
    color: var(--color-pure-white);
}

.testimonial-card .testimonial-author {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.testimonial-card .testimonial-author .testimonial-author-title {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 900;
    color: #FAFAFA;
    font-family: area-normal,sans-serif !important;
}

.testimonial-card .testimonial-author .testimonial-company-title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #ECBF87;
}

.testimonial .slick-dots li button {
    width: 5px;
    height: 5px;
}
.testimonial .slick-dots li.slick-active button {
    width: 20px;
    height: 5px;
}

@media(max-width:1380px) {
    .count-box .count-value {
        font-size: 60px;
    }

    .iq-contact-diffrence,
    .testimonial {
        margin-top: 80px;
    }

    .iq-contact-section {
        padding-top: 133px;
        padding-bottom: 80px;
    }

    .contact-detail {
        margin-top: 34px;
    }

    .iq-contact-content-section {
        padding-block:80px;
    }

    .trust-card-grid .trust-card-credit > strong, .trust-card-grid .trust-card-banking > strong {
        font-size: 44px;
    }

   

}

@media(max-width: 1023px) { 
    .iq-contact-section .sub-details {
        max-width: 500px;
        margin: 0 auto 50px;
    }
     .contact-solutions-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
        gap: 24px !important;
    }

    .contact-heading {
        text-align: center;
    }

    .contact-solutions-grid .solution-card .solution-title h3 {
        font-size: 22px;
    }

    .iq-contact-wrapper {
        grid-template-columns: 1fr;
    }

    .iq-contact-section .contact-form-wrapper {
        margin-right: auto;
        max-width: 100%;
    }

    .contact-detail-wrapper {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .contact-detail-wrapper > div {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-detail {
        margin-top: 0;
    }

    .iq-contact-content-right {
        max-width: 100%;
    }

    .solution-card .solution-card-header {
        flex-direction: column;
    }

    .solution-card.has-content-side-left .solution-card-body {
        padding-left: 0 !important;
    }

    .iq-contact-content-section .sub-head-2 {
        min-height: auto;
        margin-inline: auto;
    }

    .iq-contact-diffrence .sub-head-2,
    .iq-contact-content-section .sub-head-2 {
        margin-bottom: 50px;
        text-align: center;
    }

    .iq-contact-solution {
        gap: 0;
    }

    .testimonial-card .testimonial-quote-text {
        font-size: 24px;
    }
}

@media(max-width:767px) {
        .contact-detail-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-solutions-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
    .count-box-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .iq-contact-diffrence, .testimonial {
        margin-top: 60px;
    }

    .testimonial-card .testimonial-quote-text {
        font-size: 20px;
    }

    .iq-contact-growth {
        margin-top: 60px;
    }
    .iq-contact-growth .trust-card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}